body{
    background-color: cadetblue;
}

.div-dados{
    display: flex;
    width: 100%;
    height:500px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.div-dados .p-label{
    font-weight: bolder;
    font-size: larger;
}

.div-dados .p-dados{
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

h1{
    color: midnightblue;
}
