.formulario{
    height:100%px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}

body{
    background-color: yellowgreen;
}

label{
    font-weight: bolder;
}

.btns-form{
    display: flex;
    gap: 9px;
    justify-content: center;
}