.formulario{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
}
.forms-sections{
    display: flex;
    gap: 25%;
}
fieldset{
    width: max-content;
}
body{
    background-color: yellowgreen;
}
textarea{
    max-height: 150px;
}
label{
    font-weight: bolder;
}

.btns-form{
    display: flex;
    gap: 9px;
    justify-content: center;
}
legend{
    color: rgb(3, 5, 92);
    font-weight: bolder;
}